[submodule "extlib/simple-ribbon"]
	path = extlib/simple-ribbon
	url = https://github.com/ByteHamster/SimpleRibbon.git
[submodule "extlib/util"]
	path = extlib/util
	url = https://github.com/ByteHamster/Util.git
