[submodule "extlib/simple-ribbon"]
	path = extlib/simple-ribbon
	url = https://github.com/ByteHamster/SimpleRibbon.git
[submodule "extlib/util"]
	path = extlib/util
	url = https://github.com/ByteHamster/Util.git
[submodule "extlib/sux"]
	path = extlib/sux
	url = https://github.com/vigna/sux.git
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/cmph"]
	path = extlib/cmph
	url = https://github.com/bonitao/cmph.git
[submodule "extlib/gcem"]
	path = extlib/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "extlib/fips"]
	path = extlib/fips
	url = https://github.com/ByteHamster/FiPS.git
[submodule "extlib/consensus-recsplit"]
	path = extlib/consensus-recsplit
	url = https://github.com/ByteHamster/ConsensusRecSplit.git
